In [3]:
from bs4 import UnicodeDammit
import codecs
import webbrowser
from bs4 import BeautifulSoup
import time
import pandas as pd
import os

In [4]:
with open('RelatorioBMP_13052023_12.09.01_.xls', 'rb') as file:
    content = file.read()

suggestion = UnicodeDammit(content)
suggestion.original_encoding

'iso-8859-1'

In [5]:
start = time.time()
file = codecs.open("RelatorioBMP_11052023_06.26.07_.xls", "r", suggestion.original_encoding)
end = time.time()
print(end - start)

0.0

In [6]:
start = time.time()
soup = BeautifulSoup(file, 'html.parser')
end = time.time()
print(end - start)

5.919155836105347

In [7]:
tbs = soup.find_all("table")

In [8]:
len(tbs)/3

55.0

In [9]:
type(tbs[0])

bs4.element.Tag

In [30]:
str(tbs[1].find_all("td")[5]).split('>')[1].split('<')[0]

'01/2020'

In [11]:
p_tag = tbs[1].find_all("td")
html = str(p_tag[1])
print(html)

<td width="80%">ZONA DA MATA GERAÇÃO S/A</td>

In [12]:
html.split('>')[1].split('<')[0]

'ZONA DA MATA GERAÇÃO S/A'

In [13]:
empresas = {}
for i in range(0,int(len(tbs)/3)):
    p_tag = tbs[3*i+1].find_all("td")
    html = str(p_tag[1])
    empresas[(html.split('>')[1].split('<')[0])] = i

In [14]:
empresas

{'ZONA DA MATA GERAÇÃO S/A': 0,
 'USINA HIDRELÉTRICA ITAOCARA S.A.': 1,
 'UHE São Simão Energia S.A.': 2,
 'TIJOÁ PARTICIPAÇÕES E INVESTIMENTOS S.A.': 3,
 'Tangará Energia S.A.': 4,
 'Statkraft Energias Renováveis S.A.': 5,
 'SOCIBE ENERGIA S.A.': 6,
 'Serra do Facão Energia S.A.': 7,
 'SE NARANDIBA S.A.': 8,
 'São Roque Energética S.A.': 10,
 'SÁ Carvalho S.A.': 11,
 'Rosal Energia S.A.': 12,
 'Roraima Energia S.A.': 14,
 'Rio Verde Energia S.A.': 15,
 'Rio Paranapanema Energia S.A.': 16,
 'Rio Paraná Energia S.A.': 17,
 'Rio Canoas Energia S.A.': 18,
 'RETIRO BAIXO ENERGÉTICA S.A.': 19,
 'Quanta Geração S.A.': 20,
 'PRIMAVERA ENERGIA S.A.': 21,
 'PAULISTA LAJEADO ENERGIA S/A': 22,
 'PANTANAL ENERGÉTICA LTDA': 23,
 'NORTE ENERGIA S/A': 24,
 'MUXFELDT MARIN E CIA LTDA': 26,
 'MONEL MONJOLINHO ENERGÉTICA S/A': 27,
 'Mohini Empreendimentos e Participações Ltda.': 28,
 'LIGHT ENERGIA S.A': 29,
 'Lajes Energia S.A': 30,
 'LAJEADO ENERGIA S/A': 31,
 'Juruena Energia S.A': 33,
 'JFG Energia S.A': 34,
 'Jayaditya Empreendimentos e Participações Ltda': 35,
 'ITAPEBI GERAÇÃO DE ENERGIA SA': 36,
 'ITÁ ENERGÉTICA S/A': 37,
 'ISAMU IKEDA ENERGIA S.A.': 38,
 'INVESTCO SA': 39,
 'Ijuí Energia S.A.': 40,
 'Ibitu Energética S.A.': 41,
 'HIDROPAN DISTRIBUIÇÃO DE ENERGIA S.A.': 42,
 'HIDRELETRICA SANTA BRANCA S/A': 43,
 'Global Energia Elétrica S.A': 44,
 'GERACAO DE ENERGIA PILAO LTDA.': 45,
 'GERAÇÃO CIII S/A': 46,
 'GERAÇÃO CÉU AZUL S.A.': 47,
 'Furnas-Centrais Elétricas S.A.': 48,
 'Foz do Rio Claro Energia S.A.': 50,
 'Foz do Chapecó Energia S.A.': 51,
 'FORÇA E LUZ CORONEL VIVIDA LTDA': 52,
 'Ferreira Gomes Energia S.A.': 53,
 'F.D.A. GERAÇÃO DE ENERGIA ELÉTRICA S.A.': 54}

In [15]:
type(tbs[3*empresas['São Roque Energética S.A.']+2])

bs4.element.Tag

In [16]:
with open('test.html', 'w') as f:
    f.write(str(tbs[3*empresas['ZONA DA MATA GERAÇÃO S/A']+2]))

In [17]:
with open('test.html', 'r') as f:
    dfs = pd.read_html(f.read(),decimal=",", thousands=".")

In [18]:
d = dfs[0]
d.columns = d.iloc[0]
d = d.iloc[1:]
d

,Conta,Descrição,Saldo Anterior (R$),Débito (R$),Crédito (R$),Variação (R$),Variação (%),Saldo (R$)
1,1,ATIVO,62807319.56,11554599.07,10500846.96,1053752.11,1.650,63861071.67
2,11,ATIVO CIRCULANTE,32645669.42,11526599.07,10372295.54,1154303.53,3.415,33799972.95
3,1101,CAIXA E EQUIVALENTES DE CAIXA,1207254.83,6228479.65,4570573.41,1657906.24,57.864,2865161.07
4,11011,Caixa,49565.21,3622494.07,3649679.86,-27185.79,-121.477,22379.42
5,1101102,Contas Bancárias à Vista,49565.21,3622494.07,3649679.86,-27185.79,-121.477,22379.42
...,...,...,...,...,...,...,...,...
194,75,IMPOSTO DE RENDA E CONTRIBUIÇÃO SOCIAL,836473.34,73284.66,0.00,73284.66,100.000,73284.66
195,7501,IMPOSTO DE RENDA E CONTRIBUIÇÃO SOCIAL,836473.34,73284.66,0.00,73284.66,100.000,73284.66
196,75011,Geração,836473.34,73284.66,0.00,73284.66,100.000,73284.66
197,7501101,(-) Contribuição Social Corrente,299239.34,25472.11,0.00,25472.11,100.000,25472.11
198,7501102,(-) Imposto de Renda Corrente,537234.00,47812.55,0.00,47812.55,100.000,47812.55

In [19]:
d['Mês'] = ['02/2020' for i in range(len(d))]

C:\Users\hlovi\AppData\Local\Temp\ipykernel_1484\697325507.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['Mês'] = ['02/2020' for i in range(len(d))]

In [31]:
d.columns

Index(['Conta', 'Descrição', 'Saldo Anterior (R$)', 'Débito (R$)',
       'Crédito (R$)', 'Variação (R$)', 'Variação (%)', 'Saldo (R$)', 'Mês'],
      dtype='object', name=0)

In [21]:
d.to_excel('ZONA DA MATA GERAÇÃO SA_022020_022020.xlsx', index = False)

In [22]:
with open('RelatorioBMP_11052023_06.26.07_.html', 'w') as f:
    f.write(file.read())

In [23]:
webbrowser.open_new_tab('RelatorioBMP_11052023_06.26.07_.html')

True

In [24]:
file

In [71]:
pd.options.mode.chained_assignment = None
def make_csv(empresa, folder, save = None):
    #makes a list of all xls files in the folder
    files = os.listdir(folder)
    files_xls = []
    for el in files:
        if el.split('.')[-1] == 'xls':
            files_xls.append(el)
    
    data = pd.DataFrame(columns = ['Conta', 'Descrição', 'Saldo Anterior (R$)', 'Débito (R$)',
       'Crédito (R$)', 'Variação (R$)', 'Variação (%)', 'Saldo (R$)', 'Mês'])

    #iterates over all xsl files
    for f in files_xls:
        #open xls as html
        file = codecs.open(f, "r", 'iso-8859-1')
        soup = BeautifulSoup(file, 'html.parser')
        #finds all table information
        tbs = soup.find_all("table")
        #selects current month
        month = str(tbs[1].find_all("td")[5]).split('>')[1].split('<')[0]
        
        #list of companies so that, for each of them, we save only the last submission
        empresas = {}
        for i in range(0,int(len(tbs)/3)):
            p_tag = tbs[3*i+1].find_all("td")
            html = str(p_tag[1])
            empresas[(html.split('>')[1].split('<')[0])] = i
        
        #uses only the company wanted
        if empresa in list(empresas.keys()):
            dfs = pd.read_html(str(tbs[3*empresas[empresa]+2]),decimal=",", thousands=".")[0]
            dfs.columns = dfs.iloc[0]
            dfs = d.iloc[1:]
            dfs['Mês'] = [month for i in range(len(dfs))]
            data = pd.concat([data, dfs])
    
    if save != None:
        data.to_excel(save, index = False)
  
    return data.reset_index(drop=True)

In [72]:
dat = make_csv('São Roque Energética S.A.', os.getcwd(), save = None)

In [73]:
dat

,Conta,Descrição,Saldo Anterior (R$),Débito (R$),Crédito (R$),Variação (R$),Variação (%),Saldo (R$),Mês
0,11,ATIVO CIRCULANTE,32645669.42,11526599.07,10372295.54,1154303.53,3.415,33799972.95,01/2020
1,1101,CAIXA E EQUIVALENTES DE CAIXA,1207254.83,6228479.65,4570573.41,1657906.24,57.864,2865161.07,01/2020
2,11011,Caixa,49565.21,3622494.07,3649679.86,-27185.79,-121.477,22379.42,01/2020
3,1101102,Contas Bancárias à Vista,49565.21,3622494.07,3649679.86,-27185.79,-121.477,22379.42,01/2020
4,11012,Equivalentes de Caixa,1157689.62,2605985.58,920893.55,1685092.03,59.276,2842781.65,01/2020
...,...,...,...,...,...,...,...,...,...
389,75,IMPOSTO DE RENDA E CONTRIBUIÇÃO SOCIAL,836473.34,73284.66,0.00,73284.66,100.000,73284.66,02/2020
390,7501,IMPOSTO DE RENDA E CONTRIBUIÇÃO SOCIAL,836473.34,73284.66,0.00,73284.66,100.000,73284.66,02/2020
391,75011,Geração,836473.34,73284.66,0.00,73284.66,100.000,73284.66,02/2020
392,7501101,(-) Contribuição Social Corrente,299239.34,25472.11,0.00,25472.11,100.000,25472.11,02/2020
393,7501102,(-) Imposto de Renda Corrente,537234.00,47812.55,0.00,47812.55,100.000,47812.55,02/2020